{% extends 'layout.twig' %}

{% block main %}
    <div class="message is-{{ messageStyle }}">
        <div class="message-header">
            {{ messageHeader }}
        </div>
        <div class="message-body">
            {{ messageBody }}
        </div>
    </div>
{% endblock %}
