<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
			body {
				width: 100%;
				height: 100%;
				font-family: sans-serif;
				line-height: 1.5;
				font-size: 110%;
				text-align: center;
			}
			#heading {
				font-size: 130%;
				font-weight: 800;
			}
			#container-table {
				margin: auto;
				max-width: 600px;
				border: 1px solid black;
				border-radius: 10px;
				padding: 12px;
			}
			button {
				background-color: #2EFE9A;
				color: white;
				font-weight: 600;
				padding: 5px 8px;
				border: 1px solid white;
				border-radius: 5px;
				font-size: 115%;
			}
		</style>
	</head>
	<body>
		<table id="container-table">
			<tr>
				<td id="heading">
                    {% block heading %}
                    {% endblock %}
				</td>
			</tr>
                {% block message %}
                {% endblock %}
			<tr>
				<td>
					<a href="{{ href }}" target="blank"><button class="button is-primary">
                        {% block buttonText %}{% endblock %}
                    </button></a>
				</td>
			</tr>
		</table>
	</body>
</html>
