{% extends 'layout.twig' %}

{% block main %}
    <div id="container">
        {# <h2>Forgot password</h2> #}
        {% include 'message.twig' %}
        <form action="#" method="post" id="form">
            <label for="email" class="label">Enter your email: </label>
            <input type="email" name="email" id="email" class="input" />
            <input type="submit" value="Submit" id="submit" class="button is-primary" />
        </form>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="/javascripts/forgot-password.js"></script>
{% endblock %}
