{% extends 'layout.twig' %}

{% block main %}
    {% if messages.success is defined %}
        {% set notificationClass = 'notification is-success' %}
        {% set notification = messages.success %}
    {% elseif messages.error is defined %}
        {% set notificationClass = 'notification is-danger' %}
        {% set notification = messages.error %}
    {% else %}
        {% set notificationClass = 'notification hidden' %}
        {% set notification = '' %}
    {% endif %}
    <div id="notification-container">
        <div class="{{notificationClass}}" id="notification">
            <button class="delete" id="hide-notification"></button>
            <p id="notification-text">{{notification}}</p>
        </div>
    </div>
    <div id="v-options">
        <div id="select-input-method">
            <label for="input-method" class="label">Select input method</label>
            <span class="select">
                <select id="input-method">
                    <option value="text">text</option>
                    <option value="file">file</option>
                    <option value="zip">zip</option>
                    {% if allowRepoValidation %}
                        <option value="repo">github repo</option>
                    {% endif %}
                </select>
            </span>
        </div>
        <div id="select-language">
            <label for="language" class="label">Select language</label>
            <span class="select">
                <select id="language">
                    <option value="html">html</option>
                    <option value="css">css</option>
                </select>
            </span>
        </div>
    </div>
    <div class="container" id="v-container">
        <div id="input">
            <form action="/v" method="post" id="form">
                <div id="editor-container">
                    <p>Enter some code below and submit it for validation.</p>
                    <div id="editor"></div>
                </div>
                <div id="select-file">
                    <label for="file" class="label">Select a file to upload and validate: </label>
                    <input type="file" name="file" id="file" class="hidden" />
                    <input type="button" value="Upload file" id="fake-file" class="button" />
                    <span id="file-name"></span>
                </div>
                <div id="select-zip">
                    <label for="zip" class="label">Select a zip file to upload and validate: </label>
                    <input type="file" name="zip" id="zip" class="hidden" />
                    <input type="button" value="Upload zip" id="fake-zip" class="button" />
                    <span id="zip-name"></span>
                </div>
                {% if allowRepoValidation %}
                    <div id="select-repo">
                        <label for="repo" class="label">Select a GitHub repo to validate: </label>
                        <span class="select">
                            <select id="repo">
                                {% for repo in repos %}
                                    <option value="{{ repo.name }}">{{ repo.name }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                {% endif %}
                <input type="submit" value="Submit" class="button is-primary" id="submit-v" />
            </form>
        </div>
        <div id="response">
            <p class="medium-margin-left">After you submit your code for validation, the response will appear below.</p>
            <div id="validation-medal"></div>
            <div id="output"></div>
        </div>
        <div style="clear: both; height: 0;"></div>
    </div>

    {% include 'login.twig' %}
    {% include 'register.twig' %}

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
{% endblock %}
