<!DOCTYPE html>
<html>
    <head>
        <title>Quay</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="wrapper" id="wrapper">
            <nav class="nav has-shadow">
                <div class="nav-left">
                    <h2 class="nav-item"><a href="/">Quay</a></h2>
                </div>
                {% if buttons %}
                <div class="nav-right nav-menu">
                    <a class="nav-item hidden" id="login-btn">Log in</a>
                    <a class="nav-item hidden" id="register-btn">Register</a>
                    <a class="nav-item hidden" id="profile-btn" href="/user/profile">
                        Profile 
                        <span class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a class="nav-item hidden" id="logout-btn">Log out</a>
                </div>
                {% endif %}
            </nav>
            <div class="main">
                {% block main %}{% endblock %}
            </div>
        </div>
        <footer class="has-text-centered">
            This is a 3rd year college project for the Institute of Technology Blanchardstown (2016/2017).
            <section id="links" class="has-text-centered">
                <section id="developed-by">
                    Developed by:<br>
                </section>
                <section>
                    <a href="https://github.com/julek14" target="blank" class="footer-gh-link">
                        <span class="icon"><i class="fa fa-github"></i></span> julek14
                    </a>
                    <a href="https://github.com/MatNit" target="blank" class="footer-gh-link">
                        <span class="icon"><i class="fa fa-github"></i></span> MatNit
                    </a>
                </section>
            </section>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/javascripts/common.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
