<div class="modal" id="login-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Log In</p>
            <button class="delete" id="hide-login-modal"></button>
        </header>
        <section class="modal-card-body">
            <div class="message is-danger hidden" id="login-message">
                <div class="message-header" id="login-message-header"></div>
                <div class="message-body" id="login-message-body"></div>
            </div>
            <form action="/user/login" method="post" id="login-form">
                <label class="label" for="login-email">Email address</label>
                <p class="control">
                    <input type="email" class="input" id="login-email" />
                </p>
                <label class="label" for="login-password">Password</label>
                <p class="control">
                    <input type="password" class="input" id="login-password" />
                </p>
                <input type="submit" value="Log in" id="submit-login" class="button is-primary" />
            </form>
            <a href="/user/gh-auth">
                <button class="button is-primary" id="github-register">
                    Login with GitHub 
                    <span class="icon"><i class="fa fa-github"></i></span>
                </button>
            </a>
            <div>
                <a id="forgot-password">Forgot Password</a>
            </div>
        </section>
    </div>
</div>
