{% extends 'layout.twig' %}

{% block styles %}
    <style>
        body {
            position: static;
        }
    </style>
{% endblock %}

{% block main %}
    {% if messages.success %}
        {% set notificationClass = 'notification is-success' %}
        {% set notification = messages.success %}
    {% elseif messages.error %}
        {% set notificationClass = 'notification is-danger' %}
        {% set notification = messages.error %}
    {% else %}
        {% set notificationClass = 'notification hidden' %}
        {% set notification = '' %}
    {% endif %}
    <div id="notification-container">
        <div class="{{notificationClass}}" id="notification">
            <button class="delete" id="hide-notification"></button>
            <p id="notification-text">{{notification}}</p>
        </div>
    </div>
    <h3>This is your profile.</h3>
    <div class="validation-medal">
        <img src="/images/{{ medal|lower }}-medal.png" alt="your overall medal">
    </div>
    <div class="tabs is-boxed is-toggle">
        <ul>
            <li class="is-active">
                <a id="repos-tab">
                    <span class="icon"><i class="fa fa-github"></i></span> 
                    Repositories
                </a>
            </li>
            <li>
                <a id="reports-tab">
                    <span class="icon"><i class="fa fa-inbox"></i></span> 
                    Reports
                </a>
            </li>
        </ul>
    </div>
    <div id="repos">
        {% if repos or isGithubUser %}
        <a href="/user/profile/refresh-repos">
            <input type="button" value="Refresh Repos" class="button" id="refresh-repos"/>
        </a>
        {% endif %}
        {% if repos %}
        <strong>Here you can see your GitHub repositories</strong>
        <ul id="repo-list">
        {% for repo in repos %}
            <li class="box">
                <strong class="repo-name">{{ repo.name }}</strong> 
                <em class="click-to-validate">(click to validate)</em><br>
                {{ repo.description or 'no description'}}
            </li>
        {% endfor %}
        </ul>
        {% else %}
            {% if isGithubUser %}
                <p>You don't seem to have any repositories on GitHub.</p>
            {% else %}
                <p>You have not connected your GitHub account. You can do so by clicking below.</p>
                <a href="/user/gh-auth">
                    <button class="button is-primary" id="github-connect">
                        Connect GitHub account
                        <span class="icon"><i class="fa fa-github"></i></span>
                    </button>
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div id="reports" class="hidden">
        {% if reports %}
            {% for report in reports %}
                <div class="message report">
                    <div class="message-header">
                        <span class="icon is-pulled-right report-minimize">
                            <i class="fa fa-minus"></i>
                        </span>
                        <p><a href="/v/view-report/{{ report.id }}">{{ report.id }} - 
                            {{ report.date|date('h:i:s d/m/Y') }}</a></p>
                    </div>
                    <div class="message-body">
                        <div class="validation-medal">
                            <img src="/images/{{ report.medal|lower }}-medal.png" alt="report medal">
                        </div>
                        {% for message in report.messages %}
                            {% set messageClass = "" %}
                            {% if message.type == "error" %}
                                {% set messageClass = "is-danger" %}

                            {% elseif message.type == "warning" %}
                                {% set messageClass = "is-warning" %}
                            {% endif %}
                            <div class="message {{ messageClass }}">
                                <div class="message-header">
                                    <p>
                                        {{ message.type }} in 
                                        {% if message.file != null %}
                                            {{ message.file }}
                                        {% endif %}
                                        {% if message.firstLine != null %}
                                            on line {{ message.firstLine}}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="message-body">
                                    <p><strong>Message:</strong> {{ message.message }}</p>
                                    <p><strong>File:</strong> {{ message.file }}</p>
                                    <p><strong>Extract:</strong> {{ message.extract }}</p>
                                    {% if message.firstLine != null %}
                                        <p>
                                            <strong>Location: </strong>
                                                Line {{ message.firstLine }}
                                            {% if message.lastLine != null %}
                                                to line {{ message.lastLine }}
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                    {% if message.extract != null %}
                                        <p><strong>Extract:</strong> {{ message.extract }}</p>
                                    {% endif %}
                                    {% if message.file != null %}
                                        <p><strong>File:</strong> {{ message.file }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>
                Looks like you haven't validated any code yet. Come back here once you validated something to view the 
                validation report.
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/javascripts/profile.js"></script>
{% endblock %}
