<div class="modal" id="register-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Register</p>
            <button class="delete" id="hide-register-modal"></button>
        </header>
        <section class="modal-card-body">
            <div class="message is-danger hidden" id="register-message">
                <div class="message-header" id="register-message-header"></div>
                <div class="message-body" id="register-message-body"></div>
            </div>
            <form action="/user/register" method="post" id="register-form">
                <label class="label" for="register-email">Email address</label>
                <p class="control">
                    <input type="email" class="input" id="register-email" />
                </p>
                <label class="label" for="register-password1">Password</label>
                <p class="control">
                    <input type="password" class="input" id="register-password1" />
                </p>
                <label class="label" for="register-password2">Repeat password</label>
                <p class="control">
                    <input type="password" class="input" id="register-password2" />
                </p>
                <input type="submit" value="Register" id="submit-register" class="button is-primary" />
            </form>
            <a href="/user/gh-auth">
                <button class="button is-primary" id="github-register">
                    Register with GitHub 
                    <span class="icon"><i class="fa fa-github"></i></span>
                </button>
            </a>
        </section>
    </div>
</div>
