{% extends 'email-layout.twig' %}

{% block title %}
	Reset Quay Password
{% endblock %}

{% block heading %}
	Reset your password
{% endblock %}

{% block message %}
	<tr>
		<td>
			You submitted a request to reset your <b>Quay app</b> password.
		</td>
	</tr>
	<tr>
		<td>
			To reset your password, click on the link below.
		</td>
	</tr>
{% endblock %}

{% block buttonText %}
	Reset Password
{% endblock %}
