{% extends 'layout.twig' %}

{% block main %}
    <div>
        {#<h2>Reset password</h2>#}
         {% include 'message.twig' %}
        <form action="#" method="POST" id="form">
            <label for="password1" class="label">Enter a new password: </label>
            <input type="password" id="password1" name="password1" class="input" required />
            
            <label for="password2" class="label">Repeat the new password: </label>
            <input type="password" id="password2" name="password2" class="input" required />

            <input type="submit" value="Change password" id="submit" class="button is-primary" />
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/javascripts/reset-password.js"></script>
{% endblock %}