{% extends 'email-layout.twig' %}

{% block title %}
	Verify Quay Email
{% endblock %}

{% block heading %}
	Verify your email
{% endblock %}

{% block message %}
	<tr>
		<td>
			You recently registered for a <b>Quay app</b> account.
		</td>
	</tr>
	<tr>
		<td>
			Before you can use all the features that come with a <b>Quay</b> account, you need to verify this email address.
		</td>
	</tr>
    <tr>
        <td>
            To verify this email address, just click the button below.
        </td>
    </tr>
{% endblock %}

{% block buttonText %}
	Verify Email
{% endblock %}
