{% extends 'layout.twig' %}

{% block main %}
    {% if messages.success %}
        {% set notificationClass = 'notification is-success' %}
        {% set notification = messages.success %}
    {% elseif messages.error %}
        {% set notificationClass = 'notification is-danger' %}
        {% set notification = messages.error %}
    {% else %}
        {% set notificationClass = 'notification hidden' %}
        {% set notification = '' %}
    {% endif %}

    {% if report %}
        <div class="message report">
            <div class="message-header" style="text-align: center">
                <h3>{{ report.id }} - {{ report.date|date('h:i:s d/m/Y') }}</h3>
            </div>
            <div class="message-body">
                <div class="validation-medal">
                    <img src="/images/{{ report.medal|lower }}-medal.png" alt="report medal">
                </div>
                {% for message in report.messages %}
                    {% set messageClass = "" %}
                    {% if message.type == "error" %}
                        {% set messageClass = "is-danger" %}

                    {% elseif message.type == "warning" %}
                        {% set messageClass = "is-warning" %}
                    {% endif %}
                    <div class="message {{ messageClass }}">
                        <div class="message-header">
                            <p>
                                {{ message.type }} in 
                                {% if message.file != null %}
                                    {{ message.file }}
                                {% endif %}
                                {% if message.firstLine != null %}
                                    on line {{ message.firstLine}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="message-body">
                            <p><strong>Message:</strong> {{ message.message }}</p>
                            <p><strong>File:</strong> {{ message.file }}</p>
                            <p><strong>Extract:</strong> {{ message.extract }}</p>
                            {% if message.firstLine != null %}
                                <p>
                                    <strong>Location: </strong>
                                        Line {{ message.firstLine }}
                                    {% if message.lastLine != null %}
                                        to line {{ message.lastLine }}
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if message.extract != null %}
                                <p><strong>Extract:</strong> {{ message.extract }}</p>
                            {% endif %}
                            {% if message.file != null %}
                                <p><strong>File:</strong> {{ message.file }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>Nothing to see here...</h3>
    {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
