html, body {
  min-height: 100%;
  width: 100%;
  background-color: white;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
}

h3 {
  font-size: 20px;
}

a {
  color: #3273dc;
}

#editor {
  width: 500px;
  border: 1px solid black;
}

#editor, #response {
  min-height: 350px;
}

#response {
  max-width: 420px;
}

#output {
  margin-top: 5px;
}

#input, #response {
  float: left;
  margin: 0 2px;
}

#v-container {
  overflow: auto;
}

.main {
  width: 80%;
  padding: 4px;
  margin: auto;
}

#error {
  display: none;
  background-color: #fff5f7;
  color: #ff3860;
  border: 2px solid #ff3860;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

#select-file,
#select-zip,
#select-repo {
  display: none;
}

.code-error-marker {
  position: absolute;
  background-color: #ff3860;
}

.code-warning-marker {
  position: absolute;
  background-color: #ffdd57;
}

.nav-left, .nav-right {
  margin: 0 40px;
}

.nav h2 {
  font-size: 24px;
  font-weight: 600;
}

.hidden {
  display: none;
}

#notification-container {
  margin: 4px;
  padding: 5px;
}

#notification {
  border: 1px solid black;
  width: 70%;
  margin: auto;
}

#logged-in {
  font-size: 24px;
}

.button {
  margin: 1px;
}

#forgot-password {
  font-size: 90%;
}

nav span.icon, footer span.icon {
  line-height: 10px;
}

#developed-by {
  margin-bottom: 8px;
}

footer {
  color: white;
  background-color: grey;
  padding: 24px 0 6px 0;
  margin-top: 40px; 
  width: 100%;
}

footer a {
  color: white;
  font-weight: 600;
}

footer a:hover {
  color: black;
}

.stick-to-bottom {
  position: absolute;
  bottom: 0;
}

.medium-margin-left {
  margin-left: 20px;
}

#v-options {
  margin-bottom: 10px;
}

#select-input-method, #select-language {
  display: inline-block;
}

#select-language {
  margin-left: 40px;
}

#repo-list li {
  margin-top: 10px;
}

.report-minimize {
  line-height: 16px;
  cursor: pointer;
}

#reports .message-header a {
  color: white;
}

#reports .message-header a:hover {
  color: darkturquoise;
}

.repo-name {
  cursor: pointer;
}

.repo-name:hover {
  color: darkturquoise;
}

.click-to-validate {
  color: #7a7a7a;
  font-size: 90%;
}

#error-container {
  width: 60%;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
}

#validation-medal img {
  width: 100px;
  height: 120px;
}

.validation-medal img {
  width: 100px;
  height: 120px;
}
